/**
 * 全局变量
 */

// --------------------------------------------------
// Colors
// --------------------------------------------------
$etRed     = #fc2d2d //用于导航底色，菜单栏图标颜色、醒目按钮底色；重要文字颜色等
$etOrange  = #ff6600 //用于强调的文字、图标
$etYellow  = #f39800
$etBlack   = #3b3b3b //用于默认文字信息；确认或者不可更改信息
$etGrey    = #666666 //用于菜单栏图标以及文字；内页标题信息
$etGreyish = #999999 //用于次要的辅助性；描述性文字；输入框默认文字
$etGreyer  = #d2d2d2 //用于边框；模块分割线等
$etGreiest = #e5e5e5
$etWhite   = #ffffff
$etBody    = #f1f1f1
$etAcaRed  = #e42229 // 标志红色
$etAcaBtn  = #39bb98 // 按钮背景色
$etAcaBlue = #1d9ee0 // active 选中标识
$etGray    = #eeeeee

$black       = #000;
$red         = #f44;
$blue        = #1989fa;
$orange      = #ff976a;
$orangeDark  = #ed6a0c;
$orangeLight = #fffbe8;
$green       = #07c160;
$gray        = #c9c9c9;
$grayLight   = #e5e5e5;
$grayDarker  = #7d7e80;
$grayDark    = #969799;

// default colors
$textColor            = #323233;
$borderColor          = #ebedf0;
$activeColor          = #f2f3f5;
$backgroundColor      = #f8f8f8;
$backgroundColorLight = #fafafa;



// --------------------------------------------------
// Font Sizes
// --------------------------------------------------
$etFontSmall  = 12px //特殊文字
$etFontBase   = 14px //用于描述文字信息等。
$etFontLarge  = 16px //大多数文字，用于模块标题、图标、输入框等
$etFontLarger = 18px //用于顶部导航文字




